Metadata {
    start      = 0
    end        = 4
    prefix     = "vortex_00"
    suffix     = "raw"
    path       = "/users/btech/spratham/Desktop/ScalablePFET/PFET_nov8/Vortex_data/data_raw_128"
    tfPath     = "/users/btech/spratham/Desktop/ScalablePFET/PFET_nov8/PFET/config.tfe"
    timeFormat = "%d"
    volumeDim  = (128, 128, 128)
    paralellIO = true
}